<a class="floating-pdf" href="images/FKI_magazine_vol.2(ENG).pdf" download target="_blank">
  <img src="images/icons/down.png" alt="pdf다운로드">
  <p style="font-size: 12px;">
    pdf<br>
    Download
  </p>
</a>
<a class="floating-pdf" href="https://www.fki.or.kr/main/publication/fkimagazine.do">
  <p style="font-size: 12px;">
    previous<br>issue<br>
    View
  </p>
</a>
<a class="cir-floating" href="index.html">
  <img src="images/icons/home.png" alt="홈 이동">
</a>
<a class="cir-floating" href="javascript:void(0)" id="btn_up">
  <img src="images/icons/up.png" alt="위로 이동">
</a>
<a class="cir-floating down" href="javascript:void(0)" id="btn_down">
  <img src="images/icons/up.png" alt="아래로 이동">
</a>