<div class="main_wrap footer-container">
  <div class="footer-info">
    <div class="footer-address">
      <div class="f-content">
        <p class="footer-address-title">한국경제인협회</p>
        <p class="footer-address-text">서울특별시 영등포구 여의대로 24 FKI타워 46~47F</p>
      </div>
      <div class="f-content mb-none">
        <p class="footer-address-title">The Federation of Korean Industries</p>
        <p class="footer-address-text">46~47F, FKI TOWER, 24, Yeoui-daero, Yeongdeungpo-gu, Seoul, Korea, 07320</p>
      </div>
    </div>
    <div class="footer-contact">
      <div class="f-content">
        <p class="footer-address-title">한국경제인협회</p>
        <p class="footer-address-text">대표전화: 02-3771-0114</p>
        <p class="footer-address-text">팩스번호: 02-3771-0110</p>
        <p class="footer-address-text">이메일: contact@fki.or.kr</p>
      </div>
      <div class="f-content mb-none">
        <p class="footer-address-title">FKI TOWER (FKI타워)</p>
        <p class="footer-address-text">대표전화: 02-2055-4114</p>
      </div>
    </div>
  </div>
  <p class="footer-address-copy">Copyright The Federation of Korean Industries. All Rights Reserved.</p>
  <div class="footer-logo">
    <img src="images/f_logo.png" alt="한국경제인협회 로고">
  </div>
</div>